server {
	listen 8080;
	server_name _;

	root /usr/share/nginx/html;

	location = /.well-known/health-check {
		return 200;

		break;
	}

	location /.well-known/ {
		break;
	}

{{if FORCE_REDIRECT_TO_HTTPS
	location / {
		return 301 https://$host$request_uri;

		break;
	}
}}

	include conf.d/service.inc;
}
